<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Sarge</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <%- include('navbar', {currentPage: 'About'}); %>

    <h1>About Sarge</h1>
    <h2>Subheading</h2>
    <p>Content</p>
    
    <h3>How 'Sarge' Came to Be</h3>

    <h3>Education</h3>

    <h3>Hobbies</h3>

    <%- include('footer', {currentPage: 'About'}); %>
</body>
</html>

<style>
    body{
        width: 100%;
    }
</style>