<link rel="stylesheet" href="/stylesheets/navbar.css">
<footer>
    <nav class="navbar-nav">
        <a href='/' class="navbar-logo">
            <img src="/images/logo.png" class="navbar-img">
            <h2>Sarge's Invincible Consulting</h2>
        </a>
        <ul class="footer-ul">
            <% ['Home', 'Portfolio', 'Services', 'About', 'Contact'].forEach(element => { %>
                <a class="mainNav <% if (element == currentPage) { %>active<% } %>" href="/<% if (element == currentPage) { %>#<% } else { %><%= element %><% } %>">
                    <li class="navbar-li">
                      <%= element %>
                    </li>
                  </a>
            <% }); %>
        </ul>
    </nav>
</footer>
<p class="copyRight">&copy; 2024 Sarge's Invincible Consulting</p>