<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page with Navbar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <%- include('navbar', {currentPage: 'Home'}); %>
    <div class="hero |grid|"> <!-- hero -->
        <img src="/images/hero.jpg" alt="Hero Image" class="hero-img">
        <div class="hero-cta">Contact Sarge Today!
            <a href="/contact" class="button">Contact</a>
        </div>
        <div class="hero-textbox">
            <h3 class="my-16">Empowering Innovations in Silicon: Your ASIC Design Architect</h3>
            <p class="mx-32">Dive into the future of semiconductor technology with Sarge's Invincible Consulting. With over two decades of pioneering experience, we specialize in bringing your most complex ASIC designs to life. From architecture to verification, we offer a comprehensive suite of services tailored to navigate the intricacies of digital design. Our commitment to excellence ensures your projects not only meet but exceed industry standards. Partner with us to transform your ideas into reality and lead the charge in the next wave of digital innovation.</p>
        </div>
    </div>
    <div class="grid-2-narrow m-32 g-16">
        <div class="|column| mb-64">
            <h3>Unlock the Power of ASIC Design with Sarge's Comprehensive Expertise</h3>
            <p>At Sarge's Invincible Consulting, we bring 35 years of experience in ASIC architecture, digital design, and verification engineering. Our consultant, known as Sarge, has worked with companies of all sizes, from startups to Fortune 500 firms, offering expertise in various aspects of ASIC design, including architecture, design, and verification. With a comprehensive understanding of ASICs, ranging from processors to peripherals, and extensive knowledge in verification, we are equipped to create accurate architectural or behavioral models for ASICs to aid in performance analysis and functional verification.</p>
            <div class="grid-2 mx-32 gv-16">
                <h4 class="small-heading">Comprehensive ASIC</h4>
                <h4 class="small-heading">Experience With</h4>
                <p>Benefit from Sarge's extensive knowledge in ASIC architecture, design, and verification engineering.</p>
                <p>Leverage Sarge's expertise in all major Hardware Verification Languages (HVLs) for efficient verification.</p>
            </div>
        </div>
        <div class="|column| flex-center mb-64">
            <img src="/images/DRILL_SERGEANT.jpg" alt="Hero Image">
        </div>
    </div>
    <div class="grid-2 m-32 mt-64 g-16"> <!-- link list -->
        <div class="|column|">
            <a href="/ASICDesign" class="background-image">
                <img src="/images/design.jpg" class="grid-img">
                <h3 class="overlay overlay-tall">ASIC Design</h3>
            </a>
        </div>
        <div class="grid-2-rows g-16">
            <a href="/Architecture" class="background-image">
                <img src="/images/architecture.jpg" class="grid-img">
                <h3 class="overlay">Architecture</h3>
            </a>
            <a href="/Verification" class="background-image">
                <img src="/images/verification.png" class="grid-img">
                <h3 class="overlay">Verification</h3>
            </a>
        </div>
    </div>

    <%- include('footer', {currentPage: 'Home'}); %>
</body>
</html>