<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="navWrapper">
    <nav class="navbar-nav">
        <a href='/' class="navbar-logo">
            <img src="/images/logo.png" class="navbar-img">
            <h2>Sarge's Invincible Consulting</h2>
        </a>
        <ul class="hidden navbar-ul">
            <% ['Home', 'Portfolio', 'Services', 'About', 'Contact'].forEach(element => { %>
                <a class="mainNav <% if (element == currentPage) { %>active<% } %>" href="/<% if (element == currentPage) { %>#<% } else { if(element == 'Home') {%><%} else { %><%= element %><% }} %>">
                    <li class="navbar-li">
                      <%= element %>
                    </li>
                  </a>
            <% }); %>
        </ul>
    </nav>
    <button class="hamburger navbar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.75em" viewBox="0 0 448 512"><style>svg{fill:var(--background)}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    </button>
</div>