<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarge's Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <%- include('navbar', {currentPage: 'Portfolio'}); %>
    <h1>Sarge's Portfolio</h1>
    <h2>Subheading</h2>
    <p>Content</p>

    <div class="grid">
        <ul>
            <li>Item 1
                <p>Brief Description</p>
            </li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
        </ul>
    </div>

    <div>Timeline?</div>

    <div class="grid-2">
        <div class="column">
            <h3>Project Highlight: </h3>
            <p>Content</p>
        </div>
        <img src="/images/placeholder.png" alt="Placeholder Image">
    </div>

    <%- include('footer', {currentPage: 'Portfolio'}); %>
</body>
</html>

<style>
    body{
        width: 100%;
    }
</style>