<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarge's Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <%- include('navbar', {currentPage: 'Portfolio'}); %>
    <h1>Sarge's Portfolio</h1>
    <div>
        
    </div>

    <%- include('footer', {currentPage: 'Portfolio'}); %>
</body>
</html>

<style>
    body{
        width: 100%;
    }
</style>