<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarge's Services</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="/javascripts/lazyload.js" defer></script>
</head>
<body>
    <%- include('navbar', {currentPage: 'Services'}); %>
    <div class="heading">
        <h1>Sarge's Services</h1>
        <p>Sarge's Invincible Consulting offers a comprehensive range of services specializing in ASIC architecture, digital design, and verification engineering. With over 35 years of experience in the semiconductor industry, Sarge provides expertise in all aspects of ASIC design, including architecture, design, and verification. From startups to Fortune 500 firms, Sarge has worked with companies of all sizes, creating accurate architectural or behavioral models for ASICs to aid in performance analysis and functional verification. With extensive knowledge in verification and familiarity with all major Hardware Verification Languages (HVLs), Sarge is committed to delivering top-notch ASIC solutions.</p>
    </div>
    <div class="quickLinkContainer" class="my-64">
        <a href="#Architecture" class="quickLink"><button>Architecture</button></a>
        <a href="#Verification" class="quickLink"><button>Verification</button></a>
        <a href="#Design" class="quickLink"><button>Design</button></a>
    </div>
    <div id="Architecture">
        <h2>ASIC Architecture</h2>
        <div class="cardContainer">
            <div class="card">
            <h3>The Importance of Architectural Decisions in ASIC Design</h3>
            <p>Architectural decisions in ASIC design have a critical impact, significantly influencing the final product's performance and compliance with design specifications. These foundational choices require careful consideration and precise modeling to avoid falling short of performance goals or failing to meet design criteria.</p>
            </div>
            <div class="card">
                <h3>Expertise in Action: Meet Sarge</h3>
                <p class="spacedLines">Sarge is an expert in ASIC architectural design, known for his ability to craft dual-purpose models that streamline both architectural exploration and verification processes. His extensive experience and strategic approach ensure that designs not only meet their intended goals but also adhere to the highest standards of efficiency.</p>
            </div>
        </div>
        <h3 class="highlight mx-32">Highlighted Projects</h3>
        <ul class="mx-32 spacedLines">
            <li><b>Performance Analysis:</b> Lead on the L2 cache performance analysis for the G4 PowerPC chip at Apple.</li>
            <li><b>Innovative Models:</b> Developer of models for various components, including a USB 2.0 hub, networking memory block, and I2C master/slave interface.</li>
        </ul>
        <h3 class="mx-32">Engage with Sarge for Superior ASIC Design</h3>
        <p class="mx-64 spacedLines">Collaborating with Sarge from the start guarantees a cost-effective and strategic approach to ASIC design. His involvement promises to deliver significant benefits, optimizing your project for success. <a href="/Contact" class="intextLink">Contact Sarge today</a> to elevate your architectural efforts.</p>
    </div>
    <div id="Verification">
        <h2>Verification Engineering</h2>
        <h3 class="mx-32">The Challenge of Verification in ASIC Design</h3>
        <div class="grid-3">
            <div class="card-thin">
                <h4>Insights from a Student: The Complexity of Verification</h4>
                <p>A poignant observation from one of Sarge's students highlights a fundamental challenge in ASIC design:</p>
                <p class="quote">"Finding bugs is more difficult than writing bugs."</p>
                <p>This statement, though simple, underscores the intricate nature of verification in today's complex ASIC projects. With design and protocol specifications thicker than a Harry Potter novel, the task of verification has grown increasingly daunting.</p>
            </div>
            <div class="card-thin">
                <h4>Embracing Coverage-Driven Verification</h4>
                <p class="spacedLines">Introduced to the coverage-driven approach in 2000, Sarge has since been a staunch advocate for this methodology. Recognizing it as the most effective strategy to manage the complexities of modern designs, he champions this approach to ensure thorough and efficient verification processes.</p>
            </div>
            <div class="card-thin">
                <h4>Streamlining Design and Verification</h4>
                <p class="spacedLines">Sarge's strategy involves working in tandem with the RTL design phase to develop a behavioral model early on. This parallel approach enables the verification team to commence test creation concurrently with RTL development, allowing for immediate testing once the RTL is finalized. This method not only accelerates the verification process but also enhances its effectiveness.</p>
            </div>
        </div>
        <h3>Sarge's Expertise and Leadership in Verification</h3>
        <div class="grid-2-thin">
            <div class="column">
                <h4>A Leader in High-Level Verification Languages (HVLs)</h4>
                <p class="mx-32">With extensive experience across all major HVLs used in production today, Sarge is particularly renowned for his expertise in Specman. His proficiency with this tool has not only contributed to his success in verification but has also positioned him as a key educator and mentor in the field.</p>
            </div>
            <img src="./images/specman.png" class="grid-img">
        </div>
        <div class="grid-2-thin-invert">
            <img src="./images/cadence.png" class="grid-img">
            <div class="column">
                <h4>Commitment to Education and Collaboration</h4>
                <p class="mx-32">Continuing to share his knowledge and expertise, Sarge teaches Specman to those eager to learn and remains an active and proud member of Cadence's Verification Alliance. His dedication to advancing the practice of verification through both his work and teaching highlights his commitment to the field's future.</p>        
            </div>
        </div>
        <h3>Partner with an Expert in Verification</h3>
        <p class="mx-32">Engage with Sarge to navigate the complexities of ASIC verification. His innovative approaches and deep expertise offer a pathway to efficient and effective verification strategies. <a href="/Contact" class="intextLink">Contact Sarge</a> to learn how his guidance and skills can elevate your ASIC design and verification efforts.</p>
    </div>
    <div id="Design">
        <h2>ASIC Design</h2>
        <h3>Strategic Design Planning with Sarge</h3>
        <div class="grid-2-thin-invert card bg-card">
            <h4>Efficient Architecture & Microarchitecture Planning</h4>
            <p class="m-auto spacedLines">Sarge dedicates substantial time to meticulously planning both the architecture and microarchitecture of a design. This upfront investment ensures that when it's time to translate these plans into code, the process unfolds seamlessly. By thoroughly considering all interactions early on, Sarge guarantees a smooth design process from start to finish.</p>    
        </div>
        <div class="grid-2-thin-invert card bg-card">
            <h4>Expertise Rooted in Experience</h4>
            <p class="m-auto spacedLines">Starting his career in schematic capture, Sarge possesses a profound understanding of the gates that will result from synthesized RTL. His experience has led to the development of well-honed guidelines, allowing him to produce RTL that is not only easy to understand but also straightforward to synthesize. This depth of knowledge ensures the creation of efficient and effective designs.</p>
        </div>
        <div class="grid-2-thin-invert card bg-card">
            <h4>Preventing Problems Before They Arise</h4>
            <p class="m-auto spacedLines">Involving Sarge in your design team means avoiding the last-minute scramble to identify issues as deadlines approach. His disciplined approach is key to identifying and resolving potential problems early in the design process, preventing them from being deeply embedded in the RTL.</p>    
        </div>
        <h3>Partner with Sarge for Design Excellence</h3>
        <p>Engage with Sarge to leverage his expertise for your design project. His proactive and strategic approach ensures a streamlined process, from conceptual planning to final synthesis. <a href="/Contact" class="intextLink">Contact Sarge today</a> to discuss how his skills can contribute to the success of your design.</p>
    </div>

    <%- include('footer', {currentPage: 'Services'}); %>
</body>
</html>

<style>
    body{
        overflow-x: hidden;
    }
    body{
        width: 100%;
    }
    .heading{
        width: 80%;
        margin: 0 auto 64px;
    }
    .heading p{
        margin-left: 96px;
    }
    .quickLinkContainer{
        display: flex;
        justify-content: center;
    }
    #Architecture, #Design, #Verification{
        scroll-margin-top: 80px;
        padding: 16px 32px;
        position: relative;
        margin: 0;
    }
    #Architecture{
        margin: 32px 0 0;
    }
    #Architecture::before, #Design::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

        -webkit-filter: opacity(0.3);
        -moz-filter: opacity(0.3);
        -o-filter:opacity(0.3);
        -ms-filter: opacity(0.3);
        filter: opacity(0.3);
    }
    #Architecture::before{
        background-image: url("/images/architecture.jpg");
    }
    #Design::before{
        background-image: url("/images/design.jpg");
    }
    .quickLink button{
        margin: 0 16px;
        font-size: var(--h5-font-size);
        background-color: var(--background);
        color: var(--text);
        border: 2px solid var(--text);
        border-radius: 8px;
        padding: 8px 16px;
        cursor: pointer;
    }
    .quickLink button:hover{
        background-color: var(--primary-hover);
    }
    .cardContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 32px;
        margin: 32px;
    }
    .card{
        margin: 32px 0;
        padding: 16px;
        border: 2px solid var(--text);
        border-radius: 8px;
        position: relative;
    }
    .card::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        background-color: var(--primary);

        -webkit-filter: opacity(0.8);
        -moz-filter: opacity(0.8);
        -o-filter:opacity(0.8);
        -ms-filter: opacity(0.8);
        filter: opacity(0.8);
    }
    li{
        font-size: var(--h5-font-size);
    }
    .intextLink{
        color: var(--secondary);
        font-weight: bold;
        text-decoration: underline;
    }
    .spacedLines{
        line-height: 1.5;
    }
    .quote{
        font-style: italic;
        font-weight: bold;
    }
    .grid-3{
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr;
        gap: 32px;
        margin: 32px;
    }
    .card-thin{
        padding: 16px;
        border: 2px solid var(--text);
        border-radius: 8px;
        position: relative;
    }
    .card-thin:hover{
        box-shadow: 2px 2px 12px var(--text);
    }
    .grid-2-thin{
        display: grid;
        grid-template-columns: 1fr .3fr;
        gap: 32px;
        margin: 32px;
    }
    .grid-2-thin-invert{
        display: grid;
        grid-template-columns: .3fr 1fr;
        gap: 32px;
        margin: 32px;
    }
    .grid-img{
        height: 100%;
        height: auto;
        margin: auto;
    }
    .m-auto{
        margin: auto;
        align-self: center;
        font-weight: bold;
    }
    .bg-card::before{
        background-color: var(--background);
    }
        /* Mobile styles */
    @media (max-width: 770px) {
        .heading {
            width: 95%;
            margin: 0 auto;
            flex-direction: column;
        }

        .heading p {
            margin-left: 0;
            margin-right: 0;
        }

        .quickLinkContainer {
            flex-direction: column;
            align-items: center;
        }

        .quickLink button {
            margin: 8px;
        }

        .cardContainer {
            grid-template-columns: 1fr;
            margin: 16px;
        }

        .grid-3, .grid-2-thin, .grid-2-thin-invert {
            grid-template-columns: 1fr;
            margin: 16px;
        }

        .grid-img {
            width: 100%;
            height: auto;
        }

        .card, .card-thin {
            margin: 16px 0;
        }

        [id^="Architecture"], [id^="Design"], [id^="Verification"] {
            padding: 16px;
        }

        .mx-32, .mx-64 {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
</style>