@import url('https://fonts.googleapis.com/css?family=Castoro:700|Noto%20Sans:400');

.navWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #303829;
    color: #f4fbef;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    margin: 0px;
}

.navbar-nav {
    margin-left:8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 8px;
    margin: 8px 24px;
}

.navbar-li, .navbar-button {
    padding: 16px;
    border-radius: 8px;
}

.navbar-li{
    position: relative;
}

.mainNav {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #f4fbef;
    border-radius: 8px;
    font-family: 'Noto Sans';
}

.mainNav:hover, .mainNav:active, .mainNav:focus {
    background-color: #4d5a4a;
    font-weight: bold;
    animation: moving 5s infinite;
    -webkit-animation: moving .5s ease-in-out infinite alternate;
}

@keyframes moving {
    from {transform: translateY(0px);}
    to {transform: translateY(-4px);}
}

.navbar-img {
    height: 64px;
    margin: 8px;
    padding-left: 8px;
}

.navbar-button{
    background-color: #ad9d34;
    border: none;
    color: #0e1807;
    font-size: 1.333rem;
    font-family: 'Castoro';
}

.navbar-button:hover, .navbar-button:active, .navbar-button:focus{
    background-color: #d4c24e;
    animation: moving 5s infinite;
    -webkit-animation: moving .5s ease-in-out infinite alternate;
}

.navbar-logo{
    display: flex;
}

.navbar-logo h1{
    margin: 8px;
    font-family: 'Castoro';
    font-size: 2.369rem;
    text-wrap: nowrap;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none;
    height: fit-content;
    margin: 16px;
    padding: 8px 8px 4px 8px;
}

.hidden {
}

@media only screen and (max-width: 720px) {
    .navWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        padding: 0px;
        margin-left: 0px;
    }

    .navbar-ul {
        flex-direction: column;
        gap: 8px;
        margin: 0px;
        margin-bottom: 8px;
        width: fit-content;
    }

    .hidden {
    display: none;
    }   

    .navbar-li {
        display: block;
        text-align: left;
        width: 100%;
    }

    .navbar-logo {
        width: fit-content;
        height: fit-content;
    }

    .navbar-nav {
        flex-direction: column;
        margin-bottom: 8px;
    }

    .hamburger {
        display: block;
        width: fit-content;
        justify-self: end;
    }

    .mainNav{
        width: fit-content;
    }

    .navbar-img{
        margin-left: 0px;
        padding-left: 0px;
    }
}