@import url('https://fonts.googleapis.com/css?family=Castoro:700|Noto%20Sans:400');

.navWrapper, footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary);
    color: var(--text);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    margin: 0px;
}

.navbar-nav {
    margin-left:8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-ul, .footer-ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 8px;
    margin: 8px 24px;
}

.navbar-li, .navbar-button {
    padding: 16px;
    border-radius: 8px;
}

.navbar-li{
    position: relative;
}

.mainNav {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: var(--text);
    border-radius: 8px;
    font-family: 'Noto Sans';
}

.mainNav:hover, .mainNav:active, .mainNav:focus {
    background-color: var(--primary-hover);
    font-weight: bold;
    animation: moving 5s infinite;
    -webkit-animation: moving .5s ease-in-out infinite alternate;
}

@keyframes moving {
    from {transform: translateY(0px);}
    to {transform: translateY(-4px);}
}

.navbar-img {
    height: 64px;
    margin: 8px;
    padding-left: 8px;
}

.navbar-button{
    background-color: var(--secondary);
    border: none;
    color: var(--background);
    font-size: var(--h5-font-size);
    font-family: 'Castoro';
}

.navbar-button:hover, .navbar-button:active, .navbar-button:focus{
    background-color: var(--secondary-hover);
    animation: moving 5s infinite;
    -webkit-animation: moving .5s ease-in-out infinite alternate;
}

.navbar-logo{
    display: flex;
}

.navbar-logo h1, .navbar-logo h2{
    margin: 8px;
    font-family: 'Castoro';
    font-size: var(--h3-font-size);
    text-wrap: nowrap;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none;
    height: fit-content;
    margin: 16px;
    padding: 8px 8px 4px 8px;
}

.hidden {
}

.mainNav.active{
    color: var(--secondary);
}

.copyRight {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11.36px;
    padding: 32px;
    background: var(--primary);
    margin: 0px;
}

@media only screen and (max-width: 720px) {
    .navWrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
        height: fit-content;
        padding: 0px;
        margin-left: 0px;
    }

    .navbar-logo h1{
        display: none;
    }

    .navbar-ul {
        flex-direction: column;
        gap: 8px;
        margin: 0px;
        margin-bottom: 8px;
        width: fit-content;
    }

    .footer-ul {
        flex-direction: column;
        gap: 8px;
        margin: 0px;
        margin-bottom: 8px;
        width: calc(100% - 16px);;
        justify-content: center;
    }

    .hidden {
    display: none;
    }   

    .navbar-li {
        display: block;
        text-align: left;
        width: 100%;
    }

    .navbar-logo {
        width: fit-content;
        height: fit-content;
    }

    .navbar-nav {
        flex-direction: column;
        margin-bottom: 8px;
    }

    .hamburger {
        display: block;
        width: fit-content;
        justify-self: end;
    }

    .mainNav{
        width: fit-content;
        align-self: center;
    }

    .navbar-img{
        margin-left: 0px;
        padding-left: 0px;
    }
}