@import url('https://fonts.googleapis.com/css?family=Castoro:700|Noto%20Sans:400');

:root {
  --background: #0e1807;
  --text: #f4fbef;
  --primary: #303829;
    --primary-hover: #4d5a4a;
  --secondary: #e7bd61;
    --secondary-hover: #eab84e;
  --accent: #96ca71;
    --accent-hover: #b0d18a;

  --h1-font-size: 4.210rem;
  --h2-font-size: 3.158rem;
  --h3-font-size: 2.369rem;
  --h4-font-size: 1.777rem;
  --h5-font-size: 1.333rem;
  --small-font-size: 0.750rem;
  --body-font-size: 1rem;
  --body-font-family: 'Noto Sans';
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  position: absolute;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Castoro';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-2-narrow{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.m-32{
  margin: 32px;
}

.mx-32{
  margin-left: 32px;
  margin-right: 32px;
}

.mx-64{
  margin-left: 64px;
  margin-right: 64px;
}

.my-64{
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-16{
  margin: 16px 0px;
}

.mt-0{
  margin-top: 0px;
}

.mt-64{
  margin-top: 64px;
}

.mb-64{
  margin-bottom: 64px;
}

.g-16{
  gap: 16px;
}

.gv-16{
  column-gap: 32px;
}

.gv-8{
  column-gap: 16px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-16{
  padding-left: 16px;
}

.small-heading{
  font-size: var(--h5-font-size);
  margin: 0;
  padding: 0;
  color: var(--secondary);
}

.big-pg{
  font-size: var(--h3-font-size);
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text);
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ta-c{
  text-align: center;
}