:root {
  --background: #0e1807;
  --text: #f4fbef;
  --primary: #303829;
    --primary-hover: #4d5a4a;
  --secondary: #ad9d34;
    --secondary-hover: #d4c24e;
  --accent: #96ca71;
    --accent-hover: #b0d18a;

  --h1-font-size: 4.210rem;
  --h2-font-size: 3.158rem;
  --h3-font-size: 2.369rem;
  --h4-font-size: 1.777rem;
  --h5-font-size: 1.333rem;
  --small-font-size: 0.750rem;
  --body-font-size: 1rem;

}

@import url('https://fonts.googleapis.com/css?family=Castoro:700|Noto%20Sans:400');

body {
  font-family: 'Noto Sans';
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  position: absolute;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Castoro';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-2-narrow{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.m-32{
  margin: 32px;
}

.mx-32{
  margin: 0px 32px;
}

.my-16{
  margin: 16px 0px;
}

.mt-0{
  margin-top: 0px;
}

.mt-64{
  margin-top: 64px;
}

.mb-64{
  margin-bottom: 64px;
}

.g-16{
  gap: 16px;
}

.gv-16{
  column-gap: 32px;
}

.gv-8{
  column-gap: 16px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-16{
  padding-left: 16px;
}

.small-heading{
  font-size: var(--h5-font-size);
  margin: 0;
  padding: 0;
  color: var(--secondary);
}

.big-pg{
  font-size: var(--h3-font-size);
  margin: 0;
  padding: 0;
}

.hero-img{
  position: absolute;
  top: 80px;
  right: 16px;
  width: 80%;
  height: 70vh;
  object-fit: cover;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text);
}

.hero-textbox{
  position: absolute;
  width: 40%;
  top: 45vh;
  left: 16px;
  text-align: center;
  background-color: var(--primary);
  padding: 16px;
}

.hero-cta {
  height: 0;
  position: relative;
  font-size: var(--h3-font-size);
  left: 14%;
  top: 27%;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: var(--text);
}

.hero-cta a{
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--background);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hero-cta a:hover{
  background-color: var(--secondary-hover);
}

.grid-2-rows{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.grid-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  opacity: 0;
  display: flex;
  position: relative;
  top: -60%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay-tall{
  top: -57.5%;
}

.background-image:hover img{
  opacity: 0.25;
}

.background-image:hover .overlay{
  opacity: 1;
}

a{
  text-decoration: none;
  color: var(--text);
}

.background-image h3{
  text-decoration: none;
  color: var(--text);
}

@media screen and (max-width: 1220px){
  .hero-cta{
    left: 20%;
  }
}

@media screen and (max-width: 970px){
  .hero-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    position: relative;
    top: 47%;
    left: 0;
    text-align: center;
  }
  .hero-cta a{
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--background);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    height: fit-content;
    width: fit-content;
    align-self: center;
  }
}

@media screen and (max-width: 900px){
  .hero-img{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  
}

@media screen and (max-width: 770px){
  .hero-img{
    top: 0;
    width: 100%; /* Makes the image stretch across the screen */
    height: 30vh; /* Reduces height to act more like a banner */
    object-fit: cover; /* Ensures the image covers the designated area without distortion */
  }
  
  .hero-textbox{
    display: flex;
    flex-direction: column;
    top: 35vh; /* Resets the top position */
    left: 0; /* Aligns to the left */
    height: fit-content;
    width: calc(100% - 32px);
    text-align: center; /* Center the text within */
    margin-top: -5vh; /* Optional: Adjust based on your design preference */
    padding: 16px; /* Ensures padding is consistent */
    background-color: var(--primary); /* Background to ensure text readability */
  }
}